@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}






.banner-section {
    margin: 50px 135px;
    height: 500px;
    width: 1170px;
    border-radius: 16px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
}

.banner-content {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
    padding-left: 287px;
    margin: 0;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    padding-left: 247px;
    padding-top: 24px;
}

.banner-form {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 84px;
    margin-left: 185px;
    padding-top: 20px;
    padding-left: 20px;
}

.banner-form input {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.banner-form input,
.btn-primary {
    margin-left: 16px;
}

/* tour section style */
.tours-section {
    display: flex;
    margin: 100px 135px;
    gap: 50px;
 
}

.tour-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}

.tours-description-1,
.list,
.tours-description-2
{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: ;: 577px;
}
.tours-container-img{
    margin-right: 50px;
}





@media screen and (max-width:600px) {
    .banner-section {
        margin: 0;
        width: 95%;
        height: auto;
    }

    .banner-form {
        flex-direction: column;
        max-width: 300px;
        height: auto;
        margin-left: 100px;
        padding-top: 0;

    }

    .banner-title {
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;

    }

    .banner-description {
        text-align: center;
        font-size: 1rem;
        max-width: 500px;
        padding-left: 10px;
        margin-top: 0;


    }

    .banner-form input,
    .btn-primary {
        width: 255px;
        height: 50px;
        margin-bottom: 10px;
    }
    .tours-section{
        flex-direction: column;
        margin: 0;
    }
    .tours-container{
        margin: 10px;
    }
    .tours-container-img{
        width: 100%;
        height: auto;
    }

}