@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}






.banner-section {
    margin: 50px 135px;
    height: 500px;
    width: 1170px;
    border-radius: 16px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
}

.banner-content {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
    padding-left: 287px;
    margin: 0;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    padding-left: 247px;
    padding-top: 24px;
}

.banner-form {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 84px;
    margin-left: 185px;
    padding-top: 20px;
    padding-left: 20px;
}

.banner-form input {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.banner-form input,
.btn-primary {
    margin-left: 16px;
}

/* tour section style */
.tours-section {
    display: flex;
    margin: 100px 135px;
    gap: 50px;

}

.tour-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}

.tours-description-1,
.list,
.tours-description-2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: ;
    : 577px;
}

.tours-container-img {
    margin-right: 50px;
}

/* destination section style */
.destination-container-1 {
    text-align: center;
}

.container-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.container-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin-left: 400px;
}

.destination-container-2 {
    margin-left: 135px;
    margin-top: 50px;
}

#container-1 {
    width: 573px;
    border-radius: 16px;
    text-align: center;
    padding-top: 132px;
    padding-bottom: 133px;
    background-image: url('../Images/Rectangle\ 5.png');
}

#container-2 {
    width: 573px;
    border-radius: 16px;
    text-align: center;
    padding-top: 132px;
    padding-bottom: 133px;
    background-image: url('../Images/Rectangle\ 8.png');

}

#container-3 {
    width: 374px;
    border-radius: 16px;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 126px;
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    margin-top: 0;
}

#container-4 {
    text-align: center;
    width: 474px;
    border-radius: 16px;
    background-image: url('../Images/Rectangle\ 7.png');
    margin-top: 0;
    padding-top: 125px;
    padding-bottom: 126px;
}

#container-5 {
    width: 274px;
    text-align: center;
    padding-top: 125px;
    border-radius: 16px;
    background-image: url('../Images/Rectangle\ 9.png');
    padding-bottom: 126px;
    margin-top: 0;
}

#container-6 {
    width: 473px;
    border-radius: 16px;
    background-image: url('../Images/Rectangle\ 11.png');
    padding-bottom: 133px;
    margin-top: 0;
    padding-top: 132px;
    text-align: center;
}

#container-7 {
    width: 673px;
    border-radius: 16px;
    background-image: url('../Images/Rectangle\ 10.png');
    padding-bottom: 133px;
    margin-top: 0;
    padding-top: 132px;
    text-align: center;

}


.box-1,
.box-2,
.box-3 {
    display: flex;
    gap: 24px;
    color: #FFF;

}

.box-1 h4,
.box-2 h4,
.box-3 h4 {
    font-size: 1.75rem;
    font-weight: 800;
}

/* choose us section */

.choose-us-container-1 {
    text-align: center;
}

.choose-us-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-us-description {
    color: rgba(19, 19, 24, 0.70);
    ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    padding-left: 398px;

}

.box-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 32px;
    margin-top: 32px;
    margin-bottom: 0;
}

.box-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding-left: 32px;
}

.container-box-1 {
    display: flex;
    margin-left: 135px;
    gap: 24px;
}

.choose-box-1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-box-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-box-1 img,
.choose-box-2 img {
    padding-top: 32px;
    padding-left: 32px;
}

.container-box-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 433px;
    margin-top: 24px;

}

.container-box-2 img {
    padding-top: 32px;
    padding-left: 32px;
}

/* newsletter section style */
.newsletter-section {
    display: flex;
    margin-top: 100px;
    margin-left: 135px;
    gap: 40px;
}

.section-container-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 40px;
}

.section-container-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 350px;
    padding-left: 40px;
}

.section-container-1 {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.section-container-1 hr {
    padding-left: 40px;
    width: 360px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 24px;
}

.section-container-2 {
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    width: 672px;
    height: 422px;
    border-radius: 16px;
}

.section-box {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-top: 250px;
    margin-left: 335px;
}

.input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.primary {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}

.title-1 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 0;


}

.description {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;

}


@media screen and (max-width:600px) {
    .banner-section {
        margin: 0;
        width: 90%;
        height: auto;
    }

    .banner-form {
        flex-direction: column;
        max-width: 300px;
        height: auto;
        margin-left: 100px;
        padding-top: 0;

    }

    .banner-title {
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;

    }

    .banner-description {
        text-align: center;
        font-size: 1rem;
        max-width: 500px;
        padding-left: 10px;
        margin-top: 0;


    }

    .banner-form input,
    .btn-primary {
        width: 255px;
        height: 50px;
        margin-bottom: 10px;
    }

    .tours-section {
        flex-direction: column;
        margin: 0;
    }

    .tours-container {
        margin: 10px;
    }

    .tours-container-img {
        width: 90%;
        height: auto;
    }


    .destination-container-2 {
        margin-left: 10px;

    }

    .container-description {
        margin: 10px;
        width: 90%;
    }

    .box-1,
    .box-2,
    .box-3 {
        flex-direction: column;
        margin-top: 24px;
    }

    #container-1 {
        width: 90%;
        margin-bottom: 0;
        margin-top: 0;
    }

    #container-2 {
        width: 90%;
        margin-bottom: 0;
        margin-top: 0;
    }

    #container-3 {
        /* margin-left: 50px; */
        margin-bottom: 0;
    }

    #container-4 {
        width: 90%;
        /* margin-left: 15px; */
        background-repeat: no-repeat;
        margin-bottom: 0;
    }

    #container-5 {
        /* margin-left: 100px; */
        margin-bottom: 0;
    }

    #container-6 {
        width: 90%;
        background-repeat: no-repeat;
        margin-bottom: 0;
    }

    #container-7 {
        width: 90%;
        margin-bottom: 0;

    }

    .container-box-1 {
        flex-direction: column;
        margin-left: 0;
    }

    .choose-box-1,
    .choose-box-2 {
        width: 90%;
    }

    .container-box-2 {
        margin-top: 24px;
        margin-left: 0;
        width: 90%;
    }

    .choose-us-description {
        padding-left: 0;
        width: 90%;
    }


}